<p id="notice"><%= notice %></p>

<p>
  <strong>Leaderboard:</strong>
  <%= @leaderboard_entry.leaderboard.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @leaderboard_entry.username %>
</p>

<p>
  <strong>Score:</strong>
  <%= @leaderboard_entry.score %>
</p>
<div>
  <strong>Score Logs:</strong>
  <ul>
    <% @leaderboard_entry.score_logs.each do |log| %>
      <li>
        <%= log.score %> scores added
        <%= link_to 'Remove', leaderboard_entry_score_log_path(@leaderboard_entry, log), method: :delete, data: { confirm: 'Are you certain you want to delete this score?' } %>
      </li>
    <% end -%>
  </ul>
</div>

<%= link_to 'Edit', edit_leaderboard_entry_path(@leaderboard_entry) %> |
<%= link_to 'Back', leaderboard_entries_path %>
